.content-section.img-grid {
  padding: 0;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-grid-item {
  background-color: red;
}

.img-grid-item img {
  height: 100%;
  filter: grayscale(100%);
}
