.homepage-quote-container {
  padding: var(--padding) var(--padding-mobile);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
}

.homepage-quote-container div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
}

.homepage-quote-container em {
  font-size: 1.6rem;
  color: white;
  opacity: 1;
}

.homepage-quote-container p {
  font-size: 1rem;
  color: white;
}

@media (min-width: 900px) {
  .homepage-quote-container em {
    font-size: 2rem;
  }

  .homepage-quote-container p {
    font-size: 1.2rem;
    color: white;
  }
}
