.main-btn {
  padding: 8px;
  background-color: transparent;

  color: var(--primary-text-color);
  border: solid 2px var(--primary-text-color);
  font-size: 1.4rem;
  border-radius: 2px;

  cursor: pointer;
  transition: all 0.3s;
}
