.main-btn {
  padding: 8px;
  margin-top: 2rem;
  background-color: transparent;

  font-size: 1.4rem;
  border-radius: 2px;
  border: transparent;
  cursor: pointer;
}

.main-btn.contact {
  margin-top: 0;
}

.main-btn.btn-dark {
  color: var(--secondary-text-color);

  background-color: var(--secondary-bg-color);
}

.main-btn.btn-light {
  color: var(--secondary-text-color);
  border: solid 2px var(--secondary-text-color);
}
