.main-btn {
  padding: 8px;
  background-color: transparent;

  font-size: 1.4rem;
  border-radius: 2px;

  cursor: pointer;
  transition: all 0.3s;
}

.main-btn.btn-dark {
  color: var(--primary-text-color);
  border: solid 2px var(--primary-text-color);
}

.main-btn.btn-light {
  color: var(--secondary-text-color);
  border: solid 2px var(--secondary-text-color);
}
