#planning-section {
  background-color: var(--primary-bg-color);
  padding: var(--padding) var(--padding-mobile);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--padding-mobile);
  box-shadow: var(--container-shadow);
  border-radius: var(--container-radius);
}

.section-heading {
  align-self: center;
}
