header {
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg-color);
  color: black;
  height: 3rem;
  padding: var(--padding-mobile);
  z-index: 999;
  border-bottom: solid 1px rgba(200, 200, 200, 0.3);
}

#logo {
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-menu {
  position: absolute;
  top: 3rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: var(--padding-mobile);
  background-color: var(--primary-bg-color);
  gap: 1rem;
  transform: translateY(-20rem);
  z-index: -1;
}

.nav-menu.active {
  transform: translateY(0);
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
