header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  height: var(--mobile-nav-height);
  padding: var(--padding-mobile);
  border-bottom: solid 1px rgba(200, 200, 200, 0.3);
}

.nav-link.logo {
  font-size: 1.2rem;
  font-weight: 600;
  width: auto;
  color: var(--secondary-text-color);
}

.nav-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: var(--mobile-nav-height);
  left: 0;
  gap: 1rem;
  height: calc(100svh - var(--mobile-nav-height));
  width: 100%;
  padding: 50% 0;
  background-color: var(--accent-color);
  transform: translateY(-100%);
  z-index: -1;
  transition: ease-out 0.3s;
}

.nav-menu.active {
  display: flex;
  transform: translate(0);
}

.nav-item {
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: 0.1s -1s;
}

.nav-item.active {
  opacity: 1;
  transition-delay: 0.3s;
}

.nav-item.sub {
  opacity: 1;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 1.4rem;
  width: 100%;
}

.dropdown-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

#ceremonies-link {
  width: auto;
}

#dropdown-btn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dropdown-icon {
  cursor: pointer;
}

.ceremony-dropdown {
  display: none;

  margin-top: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.ceremony-dropdown.active {
  display: flex;
}

.dropdown {
  font-size: 1rem;
}

@media (min-width: 900px) {
  .navbar {
    padding: var(--nav-padding-lg);
    flex-direction: column;
    gap: 1rem;
    height: auto;
    position: relative;
    justify-content: center;
  }

  .nav-menu {
    display: flex;
    position: relative;
    height: auto;
    width: fit-content;
    flex-direction: row;
    padding: 0;
    z-index: inherit;
    top: 0;
    transform: translate(0);
  }

  .nav-link.logo {
    font-size: 2rem;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    width: auto;
    position: relative;
    padding: 5px;
    border-radius: 2px;
    opacity: 1;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  /* #dropdown-icon {
    display: none;
  } */

  .nav-link:hover {
    color: black;
  }

  #ceremonies-link {
    margin: 0;
  }

  #dropdown-icon {
    /* margin: 0; */
    display: none;
  }

  .dropdown-top {
    gap: 0;
    margin: 0;
    position: relative;
  }

  .ceremony-dropdown {
    position: absolute;
    background-color: var(--primary-bg-color);

    margin: 0;
    top: 0;
    margin-top: 49px;
    /* margin-top: 100%;  */
    /* margin: calc(var(--lg-nav-height) - var(--padding-mobile)) var(--padding-mobile) 0 100%; */
    /* margin-left: 100%;
    margin-right: var(--padding-mobile);

    margin-top: calc(var(--mobile-nav-height) - var(--padding-mobile)); */
    /* width: calc(200% + var(--padding-mobile)); */
    /* text-align: left;
    align-items: flex-start; */
    padding: 1rem;
    box-shadow: var(--container-shadow);
  }

  .ceremony-dropdown .nav-link {
    color: var(--primary-text-color);
  }
}
