.ceremony-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-text-container-color);
  padding: var(--padding-mobile) 0;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
}

.ceremony-card-text {
  padding: 0 1rem;
}

.ceremony-card button {
  width: auto;
}
