.ceremony-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  background-color: var(--primary-text-container-color);
  padding: 0 0 var(--padding-mobile) 0;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  transition: all 0.2s;
}

.ceremony-card .image-container {
  max-height: 250px;
}

.ceremony-card h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.ceremony-card button {
  width: auto;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .ceremony-card:hover {
    transform: scale(1.03);
  }
}
