footer {
  background-color: var(--primary-text-container-color);
}

.footer-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  gap: 1rem;
}

.nav-link.footer-logo {
  text-align: center;
  color: var(--primary-text-color);
}

.footer-nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-item.footer {
  opacity: 1;
}

.nav-link.footer {
  font-size: 1rem;
  color: var(--primary-text-color);
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hitched-container {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}

.aoic-container {
  width: 50px;
  display: flex;
  align-items: center;
}
