/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

/* variables */
:root {
  --primary-bg-color: #f3fbfc;
  --secondary-bg-color: #2d3353;
  --accent-color: #79c5d2;
  --primary-text-color: hsl(233, 21%, 10%);
  --secondary-text-color: hsl(0, 0%, 100%);
  --main-btn-color: hsl(176, 76%, 20%, 0.7);
  --primary-text-container-color: hsl(200, 75%, 100%);
  --mobile-nav-height: 3.5rem;
  --lg-nav-height: 8rem;
  --padding-mobile: 1.5rem;
  --padding: 5rem;
  --nav-padding-lg: 1rem 3rem;
  --container-shadow: rgba(80, 80, 80, 0.2) 0px 2px 8px 0px;
  --container-radius: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  letter-spacing: 0.5px;
}

body {
  color: var(--primary-text-color);
  font-family: "Figtree", sans-serif;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  width: max-content;
  word-break: break-all;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

em {
  opacity: 0.7;
  text-align: center;
}

a {
  color: inherit;
}

q {
  font-family: "Times New Roman", serif;
}

img {
  width: 100%;
}

/* ul {
  list-style: none;
} */

.content-section {
  background-color: var(--primary-bg-color);
  padding: var(--padding) var(--padding-mobile);
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: var(--padding);
}

.content-section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--padding);
  max-width: 1200px;
}

/* .section-heading {
  align-self: center;
  justify-self: center;
} */

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 50rem;
  /* background-color: var(--primary-text-container-color);
  padding: var(--padding-mobile);
  box-shadow: var(--container-shadow);
  border-radius: var(--container-radius); */
}

.no-card {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

@media (min-width: 900px) {
  h2 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .content-section {
    padding: var(--padding);
  }
  .content-section-inner {
    flex-direction: row;
  }
}
