.about {
  justify-content: center;
}

#dee-pic {
  border-radius: var(--container-radius);
  width: 250px;
}

@media (min-width: 900px) {
  .content-section.about {
    flex-direction: row;
  }

  #dee-pic {
    width: 250px;
  }
}
