.ceremonies-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  max-width: 50rem;
}

/* .ceremonies-grid .image-container {
  max-height: 250px;
} */

@media (min-width: 900px) {
  .ceremonies-grid {
    grid-template-columns: 1fr 1fr;
  }
}
