.ceremonies-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  width: 100%;
  max-width: 30rem;
  justify-content: center;
  align-items: center;
}

/* .ceremonies-grid .image-container {
  max-height: 250px;
} */

@media (min-width: 900px) {
  .ceremonies-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 50rem;
  }
}
