.content-section.contact {
  min-height: calc(100svh - var(--mobile-nav-height));
}

.text-container.contact {
  text-align: center;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.cdc-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
textarea {
  width: 100%;
  border: transparent;
  outline: transparent;
  border-radius: var(----container-radius);
  padding: 0.3rem;
  font-size: 1rem;
  background-color: transparent;
  color: var(--primary-text-color);
  border-bottom: solid 1px rgba(80, 80, 80, 0.3);
}

textarea {
  height: 10rem;
  overflow-wrap: break-word;
  resize: none;
  overflow: auto;
}

.submit-btn {
  padding: 8px;
  background-color: transparent;
  font-size: 1.4rem;
  border-radius: 2px;
  border: transparent;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
}

@media (min-width: 900px) {
  .content-section.contact {
    min-height: calc(100vh - var(--mobile-nav-height));
  }
}
